.header{
    width: 100%;
    display: flex;
    // background: linear-gradient(270deg, rgba(56, 126, 41, 0.22) 0%, rgba(118, 164, 111, 0.22) 22.54%, rgba(136, 181, 129, 0.22) 31.76%, rgba(151, 224, 143, 0.22) 46.55%, rgba(156, 227, 147, 0.22) 59.65%, rgba(157, 228, 148, 0.22) 76.11%, rgba(167, 231, 155, 0.22) 98.34%),
    // linear-gradient(0deg, #A2E595, #A2E595);
    background: url("../../../images/Fotoram.io.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: 50% 50%;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(70px);
}

.title {
    width: 1200px;
    margin-top: 60px;
    display: flex;
    align-items: center;
   
}

.titleImage{
    width: 248px;
}

.titleLogo{
    font-family: sans-serif;
    font-size: 100px;
    margin-bottom: 200px;
    letter-spacing: 20px;

    &:first-child{
        margin-left: 103px;
        margin-right: 20px;
    }

    &:last-child{
       width: 465.35px;
        margin-top: 200px;
        margin-left: 20px;
        color: #78C42E;
    }
}