.card{
    width: 350px;
    background: rgba(40, 39, 39, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cardImage{
    margin-top: 15px;
    height: 348px;
    height: 350px;
}

.cardInfo{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    width: 100%;
    outline: 0.5px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgba(31, 29, 29, 1);
}

.CardTitle{
    text-align: center;
    margin-top: 25px;
    width: 155px;
    color: white;
}

.cardMain{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 18px;
    color: white;
}

.FavoriteIcon{
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 85%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

