*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmModalButton{
    color: white;
    background-color: rgb(202, 47, 38);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.ConfirmAddBtn{
    margin-top: 10px;
    height: 35px;
    font-size: 16px;
    width: 100px;
    border: 1px solid rgba(149, 221, 134, 1);
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(149, 221, 134, 1);
    cursor: pointer;
}